@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media screen and (max-width: 700px){
    html, body{
        overflow-x: hidden;
    }

    .navbar{
        background-color: #6D15E1;
        height: 4rem;
        display: flex;
        justify-content: space-around;
    }

    .navbar-img{
        width: 70px;
        height: 70px;
    }
    
    .navbar-img-container{
        height: 65px;
        position: relative;
        right: 4rem;
        bottom: 2px;
    }


    
}