@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Quicksand:wght@300..700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
  
}

html body{
    overflow-x: hidden;    
}

.secret-box-container{
    display: grid;
    justify-content: center;
}

.button-secret-container{
    display: grid;
    justify-content: center;
}

.button-secret{
    width: 500px;
    font-size: 50px;
    margin: 10px;
    transition: 1s;
    border-radius: 0%;
    background-image: linear-gradient(to left, green, #6AFA2C, #14F777 );
    animation: mygradient 5s ease infinite;
    background-size: 400% 400%;
}

.button-secret:hover{
    border-radius: 16px;
    transition: 1s;
    cursor: pointer;
}

@keyframes mygradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}

.images-1-container{
    display: none;
    gap: 20px;
    -webkit-animation: animate-div-1 3s;
    justify-content: center;
}

.images-2-container{
    display: none;
    gap: 20px;
    margin-top: 10px;
    -webkit-animation: animate-div-2 3s;
    justify-content: center;
}

.images{
    width: 250px;
    height: 250px;
}

@-webkit-keyframes animate-div-1 {
    from { opacity: 0; margin-top: -100px;}
    to { opacity: 1; margin-top: 0px;}
}

@-webkit-keyframes animate-div-2 {
    from { opacity: 0; margin-top: -100px;}
    to { opacity: 1; margin-top: 10px;}
}

.subtitle-container{
    display: none;
    justify-content: center;
    margin-top: 10px;
    -webkit-keyframes: animate-div-2;
    font-size: 50px;
}