@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

@media screen and (max-width: 700px){
    html, body{
        overflow-x: hidden;
    }

    .navbar{
        background-color: #6D15E1;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-img{
        width: 120px;
        height: 120px;
        
    }
    
    .navbar-img-container{
        position: relative;
        right: 50px;
        align-items: left;
        margin-top: 3px;
    }

    .navbar-list{
        list-style: none;
        display: flex;
        justify-content: space-around;
        width: 100%;
        gap: 15px;
    }
    
    .link-item{
        color: #fff;
        text-decoration: none;
    }

    .sugestions-title-container{
        background-color: #6D15E1;
        width: 21rem;
        border-radius: 16px;
        margin-top: 32px;
        text-align: center;
        margin-left: 3rem;
    }

    .sugestions-title{
        color: white;
        font-size: 12px;
    }

    .ia-1{
        width: 170px;
        margin-top: 16px;
        margin-left: 16px;
        border:solid #6D15E1;
        border-radius: 1rem;
    }
}